.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2d4059; 
    > div{
        display: flex;
        margin: 5px;
         > a{
            text-decoration: none;
            margin: 10px;
            color: #ff6f3c; ;
        }
    }
}

.shop{
    display: flex;
    justify-content: space-between;
    background: #ff9a3c; 
    border-radius: 5px;
    background: linear-gradient(275deg, rgba(255,220,60,1) 0%, rgba(255,154,60,1) 100%);
}

.product-container{
    display: flex;
    justify-content: space-between;
}

.img{
    width: 10rem;
    height: 10rem;
}

.card{
    background-color: #ff803c;
    margin: 10px;
    padding: 10px;
    > img{
        border-radius: 5px;
    }
    box-shadow: 1px 1px 1px #9149223f;
}

.card:hover{
    box-shadow: 3px 3px 3px #9149223f;
}

.addBtn{
    background-color:dimgray;
    margin: 10px;
    font-size: large;
    cursor: pointer;
}

.removeBtn{
    background-color: dimgray;
    margin: 10px;
    font-size: large;
    cursor: pointer;
}

.total{
    font-weight: bolder;
}

.cart{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background: #39506d4c; 
}

.basket-add{
    margin: 1em;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #dc5e483c; 
    border-radius: 5px;
    > div{
        font-weight: bolder;
    }
}

.checkout{
    color: black;
    background: rgba(249, 171, 2, 0.954);
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
    > hr{
        width:30%;
    }
    > form label,button,input,div{
        font-size: larger;
        
    }
    >form > *{
        font-weight: bolder;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
}

.order{
    color: black;
    background: rgb(182, 184, 153);
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
    > hr{
        width:300px;
    }
    > a {
        text-decoration: none;
        color: #000000;
    }
}

